@import url('https://fonts.googleapis.com/css?family=Inconsolata');

div[terminal-container] {
	position: absolute;
	align-self: flex-end;
	width: 100%;
	height: 400px;
	box-sizing: border-box;
	transition-property: opacity, transform;
	transition-duration: 0.1s;
	transition-timing-function: ease;
}

div[terminal-container].maximized {
	height: 100%;
}

div[terminal] {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	border: solid 2px #CFD8DC;
	width: 100%;
	height: 100%;
	opacity: 0.95;
	line-height: 125%;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}
div[terminal] > div[scrollable],
div[terminal] > input[command] {
	font-family: 'Inconsolata';
	font-size: 16px;
	background-color: #ECEFF1;
	padding: 10px;
	margin: 0;
}

div[terminal] > div[scrollable],
div[terminal] > input[command] {
	border: none;
	border-top: solid 1px white;
}

div[terminal] > div[scrollable] {
	height: 100%;
	overflow-y: auto;
	border-bottom: solid 2px #CFD8DC;
}

div[terminal] > input[command] {
	outline: none;
}

div[terminal-container].visible {
	opacity: 1.0;
	transform: translateY(0);
}

div[terminal-container]:not(.visible) {
	opacity: 0.0;
	transform: translateY(40px);
}

div[terminal-container]:not(.visible),
div[terminal-container]:not(.visible) * {
	pointer-events: none;
}

div[scrollable] > b {
	font-weight: normal;
	display: inline-block;
	clear: both;
	float: left;
	padding: 4px;
	font-weight: normal;
	max-width: 100%;
}

div[scrollable] > b > pre {
	white-space: pre-wrap;
}

b[response],
b[error],
b[exception] {
	color: white;
	border-radius: 4px;
	margin-bottom: 8px;
}

b[response] {
	background-color: #00C853;
}

b[exception] {
	background-color: orange;
}

b[error] {
	background-color: #F44336;
}

div[scrollable] > b > pre {
	margin: 0;
}