@import url('https://fonts.googleapis.com/css?family=Inconsolata');

/* container */

div[terminal-container] {
	position: absolute;
	align-self: flex-end;
	width: 100%;
	height: 400px;
	box-sizing: border-box;
	transition-property: opacity, transform;
	transition-duration: 0.1s;
	transition-timing-function: ease;
}

div[terminal-container].maximized {
	height: 100%;
}

div[terminal-container].visible {
	opacity: 1.0;
	transform: translateY(0);
}

div[terminal-container]:not(.visible) {
	opacity: 0.0;
	transform: translateY(40px);
}

div[terminal-container]:not(.visible),
div[terminal-container]:not(.visible) * {
	pointer-events: none;
}

/* terminal */

div[terminal] {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	border: solid 2px #CFD8DC;
	width: 100%;
	height: 100%;
	opacity: 0.95;
	line-height: 125%;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

/* scrollable */

div[terminal] > div[scrollable] {
	font-family: 'Inconsolata';
	font-size: 16px;
	background-color: #ECEFF1;
	padding: 10px;
	margin: 0;
	border-top: solid 1px white;
	height: 100%;
	overflow-y: auto;
}

/* output */

div[output] > b {
	font-weight: normal;
	display: inline-block;
	clear: both;
	float: left;
	padding: 4px;
	font-weight: normal;
	max-width: 100%;
}

div[output] > b > pre {
	white-space: pre-wrap;
	font-family: 'Inconsolata';
	margin: 0;
}

b[response],
b[error],
b[exception] {
	color: white;
	border-radius: 4px;
	margin-bottom: 8px;
}

b[response] {
	background-color: #00C853;
}

b[exception] {
	background-color: orange;
}

b[error] {
	background-color: #F44336;
}

/* prompt */

div[prompt] {
	clear: both;
	width: 100%;
	padding: 4px;
	display: flex;
	align-items: baseline;
}

div[prompt] > input {
	outline: none;
	font-family: 'Inconsolata';
	font-size: 16px;
	background-color: transparent;
	border: none;
	width: 100%;
}

/* charts */

chart {
	width: 800px;
	height: 500px;
	display: block;
	border: solid 1px gray;
}
