@import url('https://fonts.googleapis.com/css?family=Rambla');

@keyframes enlarge {
	from {transform: scale(0.5); opacity: 0; transform-origin: 50% 50%;}
	to   {transform: scale(1.0); opacity: 1; transform-origin: 50% 50%;}
}

@keyframes enlarge_rev {
	from {transform: scale(1.1); transform-origin: 50% 50%;}
	to   {transform: scale(1.0); transform-origin: 50% 50%;}
}

.poets.animate {
	animation-name: enlarge;
	animation-duration: 0.25s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

.poets-body {
	fill: #1976D2;
	rx: 5;
	ry: 5;
	transition-property: fill;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}

.poets:hover .poets-body {
	fill: #2196F3;
}

.poets circle {
	fill: white;
}

.poets.hide-label text {
	fill: none;
}

.poets-port-line, .poets circle, .poets-body {
	stroke: #0D47A1;
	stroke-width: 2;
}

.poets-port-label {
	fill: none;
}

.poets-label {
	font-family: "Rambla";
	text-anchor: "middle";
	alignment-baseline: "central";
}