<div id="palette" class="palette" autoscroll="">
    <input id="palette-input" ng-model="query" ng-change="onQueryChange()" ng-keydown="input_keypress($event)">
    <div id="results" class="results">
        <div ng-repeat="item in matching_items">
        <div id="item_{{$index}}" class="item unselectable {{ $index == selected ? 'selected' : '' }}" ng-mouseenter="select_item($index)">
                <span ng-bind-html="highlight(item)"></span>
                <span class="faint sublabel">
                    {{ item.sublabel }}
                </span>
                <span class="faint shortcut t1">
                    {{ item.shortcut }}
                </span>
                <div class="faint info">
                    {{ item.info }}
                </div>
            </div>
        </div>
    </div>
</div>
