<html>
<head>
    <meta charset="utf-8" />
    <title>LayoutJS Demo</title>
    <script src="js/angular.min.js"></script>
    <script src="js/snap.svg-min.js"></script>
    <script src="js/mousetrap.min.js"></script>
    <script src="js/lodash.js"></script>
    <script src="viewer.js"></script>
    <script src="poets/poets-defs.js"></script>
    <script src="logic-gates/logic-gates-defs.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="poets/poets-styles.css">
    <link rel="stylesheet" type="text/css" href="logic-gates/logic-gates-styles.css">
</head>
<body ng-app="project">
    <svg id="svg1" class="unselectable"></svg>
    <div id="palette" class="palette" ng-controller="paletteController" autoscroll="">
        <input id="palette-input" ng-model="query" ng-change="onQueryChange()">
        <div class="results">
            <div ng-repeat="item in matching_items">
                <div class="item unselectable">
                    {{ item.label }}
                    <span class="faint" style="margin-left: 4px;">
                        {{ item.sublabel }}
                    </span>
                    <span class="faint" style="float: right; font-size: 0.8em;">
                        {{ item.shortcut }}
                    </span>
                    <div class="faint" style="font-size: 0.8em; margin-top: 2px;">
                        {{ item.info }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        var module = angular.module('project', []);

        function paletteController($scope) {

            var corePOETS = {
                "info": "System Core",
                "shortcut": "Ctrl + T"
            };

            var andGate = {
                "info": "Logic Gate (AND)"
            };

            var items = [
            _.extend({ "label": "corePOETS_1_0" }, corePOETS),
            _.extend({ "label": "corePOETS_2_0" }, corePOETS),
            _.extend({ "label": "corePOETS_3_0" }, corePOETS),
            _.extend({ "label": "corePOETS_4_0" }, corePOETS),
            _.extend({ "label": "corePOETS_5_0" }, corePOETS),
            _.extend({ "label": "corePOETS_6_0" }, corePOETS),
            _.extend({ "label": "corePOETS_7_0" }, corePOETS),
            _.extend({ "label": "corePOETS_8_0" }, corePOETS),
            _.extend({ "label": "corePOETS_9_0" }, corePOETS),
            _.extend({ "label": "n2" }, andGate),
            _.extend({ "label": "n3" }, andGate),
            _.extend({ "label": "n7" }, andGate),
            _.extend({ "label": "n8" }, andGate),
            ]

            var max_results = 200;

            $scope.query = "";
            $scope.matching_items = $scope.items;

            $scope.onQueryChange = function() {

                var find = (item) => item.label.indexOf($scope.query) != -1;

                $scope.matching_items = _
                .chain(items)
                .filter(find)
                .take(max_results)
                .value();

            }

            $scope.onQueryChange();

        }

        module.controller('paletteController', paletteController);
    </script>
</body>
</html>