@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700i');
@import url('https://fonts.googleapis.com/css?family=Rambla');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
	background: #eeeeee;
}

svg {
	background: white;
	border: solid 1px #dddddd;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome and Opera */
    cursor: default;
    width: 100%;
    height: 98%;
}

svg:active{
    cursor: move;
}

.connector {
	stroke-width: 1px;
	stroke: black;
	stroke-linecap: round;
}
